<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ReportFolder" value="C:\Users\Willem\Google Drive\CCExtractor Reports" />
		<add key="SampleFolder" value="" />
		<add key="CorrectResultFolder" value="C:\Users\Willem\Google Drive\CCExtractor Correct Outputs" />
		<add key="CCExtractorLocation" value="E:\GitHub\ccextractor\windows\Debug\ccextractor.exe" />
		<add key="DefaultTestFile" value="tests.xml" />
		<!-- Comparer should be one of the next values: "diff" (linux only), "diffplex" -->
		<add key="Comparer" value="diff" />
	</appSettings>
</configuration>