<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ReportFolder" value="E:\CCExtractor repository\reports" />
		<add key="SampleFolder" value="E:\CCExtractor repository\TestFiles" />
		<add key="CorrectResultFolder" value="E:\CCExtractor repository\TestResults" />
		<add key="CCExtractorLocation" value="C:\Program Files (x86)\CCExtractor\ccextractorwin.exe" />
		<add key="DefaultTestFile" value="tests.xml" />
		<!-- Comparer should be one of the next values: "diff" (linux only), "diffplex", "diffplexreduced" (saves only the lines that are modified) -->
		<add key="Comparer" value="diffplex" />
		<add key="UseThreading" value="false" />
	</appSettings>
</configuration>